/* 

###SELETORES###

Seletor Universal
* {
	border: 1px red solid;
}
***********************************
h1 {
	color: green;
}

.verde {
	color: green
}

p.verde {
	color: green;
}

#cabecalho {
	border: 1px solid red;


/*Seletor de filho
li>a {
	color: red;
	text-decoration: none;
}
formata somente as tags filhas diretas do elemnto
***************************

Seletor de descendentes
p a {
	color: green;
}
formata as tags que estão dentro de elemento nao precisando ser direta

Seletor Irmão
h1+p {
	color: red;
}
formata o elemento determinado seguinte no cado do 
h1 ele formata o proximo p

h1~p{
	color: pink;
}
*/

/* HERANÇA E ESPECIFICIDADE 

border e background não são herdados 

No caso de dois seletores com o mesmo nome a prioridade é o ultimo com excessão ao 
uso da palavra !important

#paragrafo {
	color: green !important;
}

#paragrafo {
	color: blue;
}

Se um seletor for mais específico que outro, a regra mais específica
será aplicada

* {	
	color: red;
}

h2 {
	color: blue;
}

h2.verde {
	color: green;
}

h2#amarelo {
	color: yellow;
}
*/

/* BARRA DE NAVEGAÇÃO LATERAL 
 ul {
 	list-style-type: none; 	margin: 0px;
 	padding: 0px;
 }

 li {
 	padding: 5px 20px;
 	background: url(imagens/seta.png) no-repeat left center;
 }

 ul{
 	margin: 0;
 	padding: 0;
 	list-style-type: none;
 }

 ul a {
 	width: 200px;
 	height: 40px;
 	display: block;
 	background: #f7b600 url(imagens/menu.png);
 	text-decoration: none;
 	text-indent: 40px;
 	line-height: 40px;
 	color: red;
 	font-weight: bolder;
 }

 a:hover, .selecionado a {
 	background-position: right bottom;
 	background-color: #f99200;
 	color: #fff;
 }

 #home #navegacao .home a,
 #sobre #navegacao .sobre a,
 #servicos #navegacao .servicos a{
 	background-position: right bottom;
 	background-color: #f99200;
 	color: #fff;
 }
  */

  /* BARRA DE NAVEGAÇÃO HORIZONTAL */
  /*
  ul {
  	 padding: 0;
  	 margin: 0;
  	 list-style: none;
  	 width: 720px;
  	 background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;	 
  	 float: left;
  }

  ul li {
  	float: left;
  }

  ul a {
  	display: block;
  	padding: 0 2em;
  	line-height: 2em;
  	text-decoration: none;
  	color: #fff;
  	background: url(imagens/divisor.png) repeat-y left top;
  }
  ul .primeiro a{
  	background: none;
  }

  ul a:hover {
  	color: #085662;
  	background-color: #44cade;
  }
 #home #navegacao .home a,
 #sobre #navegacao .sobre a,
 #servicos #navegacao .servicos a{
 	background-position: right bottom;
 	background-color: #f99200;
 	color: #fff;
 }*/

 /*Barra de Navegação com Abas */
 /*
 body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;

 }

 ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
 }

 ul li {
    float: left;
    background: url(imagens/aba-direita.png) no-repeat top right;
 }

 li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(imagens/aba-esquerda.png) no-repeat top left;
    color: #fff;
 }

 ul a:hover {
    color: #894a1f;
 }

ul #atual {
    background: url(imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {
    background: url(imagens/aba-esquerda-atual.png) no-repeat;
}
*/

/* ####Layouts#### 

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #fff url(imagens/coluna.png) repeat-y;
    min-width: 720px;

}

#marca {
    height: 200px;
    background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#conteudo {
    width: 75%;
    float: right;
}

#conteudo-principal {
    width: 64%;
    float: left;
}

img.img-noticia {
    width: 96%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario {
    width: 34%;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h2,
#conteudo-secundario h1,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
    color: black;
}

#navegacao li a:hover {
    color: #fff;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

/*#imagem {
    width: 90%;
    overflow: hidden;

}
*/

/* #### Estilizando Tabelas #### */
/*
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

table {
    width: 600px;
    border-collapse: collapse;/*separate
}

th, td {
    padding: 7px;


}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr.alternado {
    background-color: #c1c1c1;
}

.valor {
    text-align: right;
}

tr:hover {
    background-color: #c3e6e5;
}
*/

/* Estilizando fomulários */

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

fieldset {
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 1em 0;
}

legend {
    font-weight: bold;
}

label {
    padding: 5px;
    display: block;
    cursor: pointer;
}

input[type="text"] {
    width: 30em;
}

textarea {
    width: 30em;
    height: 15em;
}

