/* 

###SELETORES###

Seletor Universal
* {
	border: 1px red solid;
}
***********************************
h1 {
	color: green;
}

.verde {
	color: green
}

p.verde {
	color: green;
}

#cabecalho {
	border: 1px solid red;


/*Seletor de filho
li>a {
	color: red;
	text-decoration: none;
}
formata somente as tags filhas diretas do elemnto
***************************

Seletor de descendentes
p a {
	color: green;
}
formata as tags que estão dentro de elemento nao precisando ser direta

Seletor Irmão
h1+p {
	color: red;
}
formata o elemento determinado seguinte no cado do 
h1 ele formata o proximo p

h1~p{
	color: pink;
}
*/

/* HERANÇA E ESPECIFICIDADE 

border e background não são herdados 

No caso de dois seletores com o mesmo nome a prioridade é o ultimo com excessão ao 
uso da palavra !important

#paragrafo {
	color: green !important;
}

#paragrafo {
	color: blue;
}

Se um seletor for mais específico que outro, a regra mais específica
será aplicada

* {	
	color: red;
}

h2 {
	color: blue;
}

h2.verde {
	color: green;
}

h2#amarelo {
	color: yellow;
}
*/

/* BARRA DE NAVEGAÇÃO LATERAL 
 ul {
 	list-style-type: none; 	margin: 0px;
 	padding: 0px;
 }

 li {
 	padding: 5px 20px;
 	background: url(imagens/seta.png) no-repeat left center;
 }
 */
 ul{
 	margin: 0;
 	padding: 0;
 	list-style-type: none;
 }

 ul a {
 	width: 200px;
 	height: 40px;
 	display: block;
 	background: url(imagens/menu.png);
 	text-decoration: none;
 	text-indent: 40px;
 	line-height: 40px;
 	color: red;
 	font-weight: bolder;
 }

 a:hover {
 	background-position: right bottom;
 	color: #fff;
 }